p {
  font-size: 12px;
  color: $font-color;
  font-family: "Red Hat Mono", monospace;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }

  &.bigger {
    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
  }
}

span {
  font-size: 16px;
}

h1 {
  margin-bottom: 40px;
  font-size: 32px;
  color: $font-color;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: 50px;
  }

  &.extra-margin {
    @include media-breakpoint-up(lg) {
      margin-bottom: 80px;
    }
  }
}

h2 {
  font-size: 32px;
  font-family: "Oswald", sans-serif;
  color: $white;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;

  @include media-breakpoint-up(lg) {
    font-size: 24px;
  }

  color: $font-color;
  font-family: "Red Hat Mono",
  monospace;
}

a {
  text-decoration: none;
}

section {
  padding: 3rem 0;
}

button {
  position: relative;
  border: none;
  background: transparent;

  @include media-breakpoint-down(lg) {
    width: 140px;

    img {
      width: 100%;
    }
  }

  @include media-breakpoint-down(xl) {
    width: 150px;

    img {
      width: 100%;
    }
  }

  img {
    transition: 0.5s;

    &:hover {
      transform: scale(1.1, 1.05);
    }
  }

  p {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #818181;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    pointer-events: none;
    font-weight: 500;

    @include media-breakpoint-up(xl) {
      font-size: 22px;
    }
  }



  &.blue-button {
    p {
      color: #1a3851;
    }
  }
}

.social-btns {
  img {
    border-radius: 50%;
    background-color: $bgcSocial;
    padding: 1px;
    transition: 0.2s;
    width: 24px;

    @include media-breakpoint-up(lg) {
      width: initial;
    }

    &.discord:hover {
      background-color: $discordColor;
    }

    &.facebook:hover {
      background-color: $facebookColor;
    }

    &.telegram:hover {
      background-color: $telegramColor;
    }

    &.medium:hover {
      background-color: $mediumColor;
    }

    &.twitter:hover {
      background-color: $twitterColor;
    }

    &.youtube:hover {
      background-color: #FF0000;
    }
  }
}

.z-index-1 {
  z-index: 1;
}

.col-xxxl-3 {
  @media only screen and (min-width: 2000px) {
    width: 25% !important;
  }
}

.subscribe-modal {
  .modal-content {
    position: relative;
    background: transparent;
    border: none;

    img {
      width: 100%;
    }

    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 120px 0;

    }
  }
}


.white {
  color: $white;
}

.grey {
  color: $grey;
}

.light-blue {
  color: $light-blue;
}

.line-height-30 {
  line-height: 30px;
}
