$black: #000;
$white: #fff;

$light-black: #181b1f;
$main-bgc: #dfdfdf;
$font-color: #818181;
$light-blue: #64ffff;
$light-grey: #c1c1c1;
$grey: #707070;
$dark-pink: #c52c53;
$author-color: #8b8b8b;

//socials

$bgcSocial: #A5A5A5;

$facebookColor: #4267B2;
$discordColor: #5865F2;
$telegramColor: #0088cc;
$mediumColor: #464646;
$twitterColor: #1DA1F2;
