.page-template-traverse {
  background-color: $main-bgc;

  .hero {
    position: relative;
    width: 100%;
    background: transparent linear-gradient(180deg, #1d1f21f0 20%, #1f455e 111%) 0% 0% no-repeat padding-box;

    .astro {
      position: absolute;
      bottom: 0;
      right: 18%;
      z-index: 1;
      width: 13%;

      @include media-breakpoint-down(xxl) {
        width: 15%;
        right: 6%;
      }

      @include media-breakpoint-down(md) {
        width: 27%;
        bottom: 34px;
      }

      @include media-breakpoint-up(sm) {
        bottom: 0px;
        width: 11%;
      }

      @media only screen and (min-width: 700px) {
        width: 13%;
      }
    }

    .hero-bgc {
      width: 100%;
      left: 0;
      top: 0;
    }

    .hero-content-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding-top: 2rem;

      @include media-breakpoint-up(xxl) {
        padding-top: 8rem;
      }
    }

    .common-logo {
      position: absolute;
      left: 5%;
      top: 5%;
      transform: rotate(-12deg);



      @include media-breakpoint-down(sm) {
        width: 80%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }

      @include media-breakpoint-up(sm) {
        width: 30%;
      }

      @include media-breakpoint-up(lg) {
        width: initial;
        top: 3%;
      }

      @include media-breakpoint-up(xl) {
        top: 5%;
      }

      @include media-breakpoint-up(xxl) {
        top: 8%;
      }
    }

    .social-btns {
      position: absolute;
      right: 19%;
      bottom: 5%;
      transform: rotate(-12deg);


      @include media-breakpoint-down(sm) {
        right: initial;
        left: 10px;
        bottom: 4%;
        transform: skew(0);
      }

      @include media-breakpoint-up(sm) {
        bottom: 1%;
      }

      @media only screen and (min-width: 800px) {
        bottom: 3%;
      }


      @include media-breakpoint-up(lg) {
        bottom: 5%;
      }

      @include media-breakpoint-up(xxl) {
        right: 5%;
        bottom: 10%;
      }


      a {
        margin: 0 5px;
      }
    }

    svg {
      position: absolute;
    }
  }

  .logo {
    padding-top: 1rem;
    width: 50%;

    @include media-breakpoint-down(md) {
      padding-top: 3rem;
    }

    @include media-breakpoint-up(xxl) {
      width: 40%;
    }

    @media only screen and (min-width: 420px) {
      padding-top: 5rem;
    }

    @media only screen and (min-width: 480px) {
      padding-top: 7rem;
    }

    @media only screen and (min-width: 576px) {
      width: 34%;
      padding-top: 0;
    }

    @media only screen and (min-width: 800px) {
      padding-top: 2rem;
    }

    img {
      width: 100%;
    }
  }

  hr {
    margin-top: -1rem;
    border: none;
    border-top: 3px dashed $grey;
    color: $white;
    height: 1px;
    width: 100%;
    transform: skewY(-12deg);

    @include media-breakpoint-up(sm) {
      margin-top: 2rem;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 2.4rem;
    }

    @include media-breakpoint-up(xxl) {
      margin-top: -1rem;
    }
  }

  .hr-2 {
    transform: skewY(-12deg) translateY(2rem);

    @include media-breakpoint-up(lg) {
      transform: skewY(-12deg) translateY(12rem);
    }
  }

  .articles {
    margin-top: 9rem;

    @include media-breakpoint-down(md) {
      margin-top: 2rem;
    }

    .col-lg-3 {
      @include media-breakpoint-up(lg) {
        width: 30% !important;
      }
    }

    .card {
      height: 100%;
      border-radius: 10px;
      border: none;

      .gatsby-image-wrapper {
        margin-bottom: 20px;
        width: 100%;
      }

      img {
        border-radius: 10px;
        width: 100%;
      }


      p {
        font-size: 12px;
        margin-bottom: 33px;

        @include media-breakpoint-up(lg) {
          font-size: 14px;
        }

        &.author {
          font-size: 12px;
          color: $author-color;
          margin-bottom: 10px;


          @include media-breakpoint-up(lg) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .promo {
    margin-top: 3rem;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transform: skewY(-12deg);
    padding-bottom: 15rem !important;
    background: transparent linear-gradient(180deg,
        #1f455e 15%,
        #295e77 30%,
        #388097 46%,
        #4f7285 59%,
        #4f7285 85%,
        #ae1f3e 150%) 0% 0% no-repeat padding-box;

    @include media-breakpoint-up(lg) {
      border-top-left-radius: 150px;
      border-bottom-right-radius: 150px;
      margin-top: 15rem;
    }

    .default-skew {
      transform: skewY(12deg);

      .stroke-logo {
        @include media-breakpoint-down(xxl) {
          width: 50%;
        }
      }

      .glass-wrapper {
        position: relative;

        margin-top: 4rem;
        width: 100%;

        h1 {
          font-size: 24px;
        }

        @include media-breakpoint-up(sm) {
          margin-top: 8rem;

          h1 {
            font-size: 50px;
          }

        }

        .glass-content {
          @include media-breakpoint-up(lg) {
            padding-bottom: 4rem;
          }

          .gatsby-image-wrapper {
            width: 100px;

            @include media-breakpoint-up(xl) {
              width: 200px;
            }
          }

          .glass-copy {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }

        .repsec {
          position: absolute;
          left: -60px;
          top: 0;
          transform: translateY(60%);

          @include media-breakpoint-up(sm) {
            top: initial;
            bottom: 25%;
            left: 20px;
            width: 40%;
          }

          @include media-breakpoint-up(lg) {
            top: initial;
            bottom: 48%;
            left: -36px;
            width: 200px;
          }

          @media only screen and (min-width: 1200px) {
            left: -10px;
          }

          @media only screen and (min-width: 1400px) {
            width: 20%;

          }
        }

        .map {
          position: absolute;
          right: 0;
          top: 22%;
          transition: 0.5s;
          width: 200px;
          top: initial;
          bottom: -10%;

          @media only screen and (min-width: 400px) {
            bottom: -7%;
          }


          @include media-breakpoint-up(sm) {
            width: 300px;
            bottom: 0%;
          }


          @include media-breakpoint-up(md) {
            bottom: -14%;
          }

          @media only screen and (min-width: 995px) {
            bottom: -10%;
          }

          @media only screen and (min-width: 1200px) {
            bottom: -2%;
          }

          @media only screen and (min-width: 1400px) {
            right: 0;
            top: 22%;
            bottom: initial;
            width: 25%;
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .quarry {
        margin-top: 0rem;

        @include media-breakpoint-up(lg) {
          margin-top: 5rem;
        }

        .second-row {
          transform: translateY(-15px);

          @include media-breakpoint-up(lg) {
            transform: translateY(-45px);
          }
        }

        .quarry-3-wrapper {
          position: relative;

          h2 {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            font-size: 12px;
            text-align: center;

            @include media-breakpoint-up(lg) {
              font-size: 32px;
            }
          }
        }
      }

      .museum,
      .labs {
        .frame-box {
          border: 1px solid $white;
          border-radius: 10px;
          padding: 20px;
        }
      }

      .labs {
        .second-row {
          transform: translateY(-15px);

          @include media-breakpoint-up(lg) {
            transform: translateY(-45px);
          }
        }
      }

      .museum-2-wrapper,
      .labs-1-wrapper,
      .surface-0-wrapper {
        position: relative;

        h2 {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          font-size: 12px;
          text-align: center;

          @include media-breakpoint-up(lg) {
            font-size: 32px;
          }
        }
      }

      hr {
        margin-top: 4rem;
        background-color: $light-blue;
        background-color: transparent;
        border-top: 3px dashed #64ffff;

        @include media-breakpoint-up(lg) {
          margin-top: 10rem;

        }
      }

      .scientis,
      .miner {
        position: relative;

        .rep {
          position: absolute;
          top: -50%;

          @include media-breakpoint-down(xxl) {
            width: 50%;
          }

          @include media-breakpoint-up(xxl) {
            width: 200px;
          }
        }

        .rep-scientis {
          left: 30px;
        }

        .rep-miner {
          right: 30px;
        }
      }
    }
  }

  .animated-section {
    padding-top: 6rem;

    @include media-breakpoint-up(lg) {
      padding-top: 14rem;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: 20rem;
    }

    .slick-initialized {
      overflow: hidden;
    }

    &>div:nth-of-type(3) {
      transform: translateY(-15px);

      @include media-breakpoint-up(lg) {
        transform: translateY(-20px);

      }
    }

    &>div:nth-of-type(4) {
      transform: translateY(-30px);

      @include media-breakpoint-up(lg) {
        transform: translateY(-40px);

      }
    }

    &>div:nth-of-type(3) {
      .slick-slide {
        div {

          .box {
            transform: translateX(50%) scale(0.9);

            transition: 0.2s;

            &.active {
              transform: translateX(50%) scale(1) !important;
            }
          }
        }
      }
    }

    .box {
      transition: 0.2s;
      transform: scale(0.9);

      &.active {
        transform: scale(1) !important;
      }

      .wrapper {
        position: relative;
        width: 95%;

        @include media-breakpoint-up(lg) {
          width: 98%;
        }

        .slider-asset {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 48%;
        }


        img {
          width: 100%;
        }

        span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $white;
          font-size: 12px;
          font-family: "Oswald", sans-serif;
          line-height: 20px;
          text-transform: uppercase;
          text-align: center;


          @include media-breakpoint-up(lg) {
            font-size: 32px;
            line-height: 45px;
          }
        }
      }

      h3 {
        display: none;
      }
    }
  }

  .red-section-wrapper {
    background: linear-gradient(180deg,
        rgba(223, 223, 223, 1) 0%,
        rgba(223, 223, 223, 1) 50%,
        rgba(24, 27, 31, 1) 50%);

    hr {
      position: absolute;
      background: none;
      margin-top: 2rem;
    }
  }

  .red-section {
    padding-top: 0;
    margin-top: 0rem;
    width: 100%;
    transform: skewY(-12deg);
    padding-bottom: 0 !important;

    @include media-breakpoint-up(lg) {
      margin-top: 2rem;
      padding-top: 0rem;
    }

    h1 {
      font-size: 24px;

      @include media-breakpoint-up(lg) {
        font-size: 50px;
      }
    }

    .videos {
      padding-top: 6rem;
      margin-top: 0rem;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      background: transparent linear-gradient(180deg, #ae1f3e 36%, #e5376a 113%) 0% 0% no-repeat padding-box;

      @include media-breakpoint-up(lg) {
        padding-top: 10rem;
        margin-top: 5rem;
        padding-bottom: 10rem;
        border-top-left-radius: 150px;
        border-bottom-right-radius: 0px;
      }

      @include media-breakpoint-up(xxl) {
        padding-top: 15rem;
        margin-top: 10rem;
      }
    }

    .video-wrapper {
      position: relative;
      cursor: pointer;

      .play-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;

        &:hover {
          transform: translate(-50%, -50%) scale(1.2);
        }
      }
    }

    .default-skew {
      transform: skewY(12deg);

      .gatsby-image-wrapper {
        border-radius: 10px;
      }
    }

    .newsletter {
      position: relative;
      min-height: 600px;
      border-bottom-right-radius: 50px;

      @include media-breakpoint-up(lg) {
        background-color: $dark-pink;
        border-bottom-right-radius: 150px;

      }

      &::before {
        @include media-breakpoint-up(lg) {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 200px;
          background-color: $dark-pink;

        }

      }

      .newsletter-wrapper {
        padding-top: 3rem;

        @include media-breakpoint-up(xxl) {
          padding-top: 11rem;
        }

        .spinner {
          position: absolute;
          right: 15px;
          top: 0px;
          width: 40px;
          height: 40px;

          @include media-breakpoint-up(lg) {
            top: -5px;

            width: 50px !important;
            height: 50px !important;
          }
        }
      }

      h1 {
        padding-top: 5rem;

        @include media-breakpoint-up(lg) {
          padding-top: 15rem;
        }
      }

      h2 {
        font-size: 24px;

        @include media-breakpoint-up(lg) {
          font-size: 32px;
        }
      }
    }

    .section-3d {
      position: relative;
      margin-top: 1rem;

      @include media-breakpoint-up(xxl) {
        margin-top: 15rem;
      }

      .arrows {
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        bottom: 0;
        transform: translateY(-50%);

        @include media-breakpoint-up(lg) {
          top: 0;
          transform: translateY(0%);
          padding-bottom: 0rem;
        }

        img {
          position: absolute;
          width: 25%;

          @include media-breakpoint-up(lg) {
            width: 17%;
          }

          &:nth-child(1) {
            left: -14%;
            opacity: 0.5;

            @include media-breakpoint-up(lg) {
              left: -10%;

            }
          }

          &:nth-child(2) {
            left: 4%;
            opacity: 0.5;

            @include media-breakpoint-up(lg) {
              left: 3%;
            }
          }

          &:nth-child(3) {
            left: 22%;
            opacity: 0.5;

            @include media-breakpoint-up(lg) {
              left: 16%;
            }
          }

          &:nth-child(4) {
            opacity: 0.5;
            display: none;

            @include media-breakpoint-up(lg) {
              display: inline-block;
              left: 29%;
            }
          }

          &:nth-child(5) {
            left: 40%;

            @include media-breakpoint-up(lg) {

              left: 42%;
            }
          }

          &:nth-child(6) {
            left: 53%;
            opacity: 0.5;
            display: none;

            @include media-breakpoint-up(lg) {
              display: inline-block;
              left: 55%;

            }
          }

          &:nth-child(7) {
            left: 58%;
            opacity: 0.5;

            @include media-breakpoint-up(lg) {
              left: 68%;
            }
          }

          &:nth-child(8) {
            left: 76%;
            opacity: 0.5;

            @include media-breakpoint-up(lg) {
              left: 81%;

            }
          }

          &:nth-child(9) {
            left: 94%;
            opacity: 0.5;

            @include media-breakpoint-up(lg) {
              left: 94%;

            }
          }
        }
      }

      .vehicles {
        padding: 2rem 0;

        @include media-breakpoint-up(lg) {
          padding: 5rem 0;
        }

        .vehicle {
          width: 90%;

          @include media-breakpoint-up(sm) {
            width: 75%;
          }

          @include media-breakpoint-up(lg) {
            width: 90%;
          }
        }
      }
    }

    .bottom-bgc {
      position: relative;
      transform: translateY(16%);

      .bug {
        position: absolute;

        @include media-breakpoint-down(xxl) {
          width: 300px;
        }

        @include media-breakpoint-down(xl) {
          width: 200px;
        }

        @include media-breakpoint-down(sm) {
          width: 100px;
        }

        &.bug-1 {
          left: 0;
          top: -300px;

          @include media-breakpoint-down(xxl) {
            top: -200px;

          }

          @include media-breakpoint-down(lg) {
            top: -50px;

          }
        }

        &.bug-2 {
          right: 0;
          bottom: 500px;

          @include media-breakpoint-down(lg) {
            bottom: 300px;
          }

          @include media-breakpoint-down(sm) {
            bottom: 120px;
            width: 180px;
          }
        }
      }

      .logo-white {
        position: absolute;
        left: 80px;
        bottom: 100px;
        width: 200px;
      }
    }
  }

  .metaverse-lands-section {
    padding-top: 0;
    background: $light-black;
    min-height: 500px;

    .wrapper {
      padding-top: 5rem;

      @include media-breakpoint-up(lg) {
        padding-top: 15rem;
      }

      @include media-breakpoint-up(xxl) {
        padding-top: 20rem;
      }

      p {
        @include media-breakpoint-down(lg) {
          font-size: 14px;
        }
      }

      .metaverse-lands {
        margin-top: 2rem;

        @include media-breakpoint-up(xxl) {
          margin-top: 8rem;
        }
      }

      p {
        color: $light-grey;
      }

      h1 {
        font-size: 24px;

        @include media-breakpoint-up(lg) {
          font-size: 50px;
        }
      }
    }

    hr {
      position: absolute;
      background: none;
      margin-top: 2rem;
      z-index: 1;
    }
  }

  .logo-bottom {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: initial;
    }

  }

  .common-logo,
  .logo-bottom {
    img:not(.x) {
      @include media-breakpoint-down(sm) {
        width: 160px
      }
    }
  }

  footer {
    position: relative;
    padding-top: 0;
    background: $light-black;
    height: 240px;

    p {
      color: $light-grey;
    }



    .online-users-discord {
      position: relative;
      width: 130px;
      height: 24px;
      transform: translateX(-12px);
      border-top-right-radius: 20px;
      background: $light-grey;
      border-bottom-right-radius: 20px;
      position: relative;
      display: inline-block;

      @include media-breakpoint-up(lg) {
        height: 34px;
      }

      p {
        margin: 0;
        color: $black;
        font-weight: 600;
        position: absolute;
        top: 50%;

        left: -10px;
        transform: translate(50%, -48%);


        @include media-breakpoint-up(lg) {
          left: -20px;
        }
      }
    }

    .online-users-discord:before {
      background: $light-black;
      height: 24px;
      width: 16px;
      display: inline-block;
      content: "";
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      @include media-breakpoint-up(lg) {
        height: 34px;
      }
    }

    .social-btns {

      a {
        &:nth-of-type(1) {
          img {
            margin-left: 12px;
          }
        }
      }
    }

    .copyright {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  }
}